p {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-3 {
    margin-top: 0;
}
@import '../../node_modules/@syncfusion/ej2/material.css';

.ngx-pagination{
    width : 250px;
}
thead{
    background-color: rgba(142, 171, 185, 0.494); 
    font-weight: bolder; 
   
}
tbody{
    background-color: rgba(32, 111, 153, 0.789);
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}





















