

<br>
<br>
<br>
<br>
<br>


<!-- <div  >
  <table width="100%" >
    
      <tr  >
          <td align="right"  >
              Locker ID:
          </td>
          <td>
            <input type="int"   (keydown.enter)="onKeyPress($event)" >
     
          </td>
          <td colspan="2" align="Center" >
              <b>Customer Details</b>
          </td>
      </tr>
      <tr>
          <td align="right">
              Drawer ID:
          </td>
          <td>
              <select id="">
                  <option value="DROO1-01" selected width="100%">DR001-01</option>
                  <option value="DROO1-02">DR001-02</option>
                  <option value="DROO1-03">DR001-03</option>
                  <option value="DROO1-04" >DR001-04</option>
              </select>
          </td>
          <td align="right">
              Customer Type:
          </td>
          <td style="padding-right: 200px;">
              <input type="text" placeholder="Enter Customer Type" placeholder="Enter Locker ID">
          </td>

      </tr>
      <tr>
          <td align="right" >
              A/C Type:
          </td>
          <td >
              <input type="text" placeholder="Account Type">
          </td>
          <td align="right">
              Customer Name:
          </td>
          <td>
              <input type="text" placeholder="Enter Customer Name" >
          </td>


      </tr>
      <tr>
          <td align="right">
              Customer ID:
          </td>
          <td>
              <input type="text" placeholder="Enter Customer ID">
          </td>
          <td align="right">
              Address 1:
          </td>
          <td>
              <input type="text" placeholder="Enter Your Present Address">
          </td>


      </tr>

      <tr>
          <td align="right">
              A/C Number:
          </td>
          <td>
              <input type="text" placeholder="Account Number">
          </td>
          <td align="right">
              Address 2:
          </td>
          <td>
              <input type="text" placeholder="Enter Your Permanent Address">
          </td>


      </tr>
      <tr>
          <td align="right">
              A/C Title:
          </td>
          <td>
              <input type="text" placeholder="Account Title">
          </td>
          <td align="right" >
              House:
          </td>
          <td >
              <input type="text" placeholder="Enter House Details">
          </td>


      </tr>
      <tr>
          <td align="right">
              Deposit Product:
          </td>
          <td>
              <select id="" >
                  <option value="Jewellery" selected width="100%">Jewellery</option>
                  <option value="Document">Document</option>
                  <option value="Others">Others</option>
              </select>     
         
          </td>
          <td align="right">
              City Name:
          </td>
          <td>
              <input type="text">
          </td>


      </tr>
      <tr>
          <td align="right">
              For Sale Value:
          </td>
          <td >
              <input type="text">
          </td>
          <td align="right">
              Phone No:
          </td>
          <td>
              <input type="text">
          </td>


      </tr>
      <tr>
          <td align="right">
              Market value:
          </td>
          <td>
              <input type="text">
          </td>
          <td align="right">
              Occupation:
          </td>
          <td>
              <input type="text">
          </td>


      </tr>
      <tr>
          <td align="right">
              Security Required:
          </td>
          <td width="400px">
              <tr>
                  <td>
                      <input type="checkbox" id="sry" name="sry" value="Yes"  style="width: 110px; background:transparent; height: 23px; " >

                     
                  </td>
                  <td><label for="sry">Yes</label></td>
                  <td>
                      <input type="checkbox" id="srn" name="srn" value="No"  style="width: 110px; background:transparent; height: 23px; ">
                      </td>
                      <td>
                      <label for="srn">No</label>
                  </td>
              </tr>
              
              
          </td>
          <td align="right">
              Email:
          </td>
          <td>
              <input type="text">
          </td>


      </tr>
      <tr>
          <td align="right">
              Security Amount:
          </td>
          <td width="400px">
              <tr>
                  <td>
                      <input type="radio" id="saf" name="saf" value="Yes"  style="width: 55px; background:transparent; height: 23px; " >

                     
                  </td>
                  <td><label for="saf">On Fixed</label></td>
                  <td>
                      <input type="radio" id="sap" name="sap" value="No"  style="width: 55px; background:transparent; height: 23px; ">
                      </td>
                      <td>
                      <label for="sap">Percentage</label>
                  </td>
              </tr>
              
              
          </td>
          <td align="right">
              Date Of Birth:  
          </td>
         <td>
                 <tr>
                     <td>
                      <input type="text" style=" width:215px">
                     </td>
                     <td>Age:</td>
                     <td>
                      <input type="text" style=" width:40px">
                     </td>
                 </tr>
          </td>
      </tr>
      <tr>
          <td align="right">
              Caution Money:
          </td>
          <td>
              <input type="text">
          </td>
          <td align="right">
              Allocation Date:
          </td>
          <td>
              <input type="date">
          </td>


      </tr>
      <tr>
          <td align="right">
              Tenure (In Year):
          </td>
          <td>
              <input type="text">
          </td>
          <td align="right">
              Expire Date:
          </td>
          <td>
              <input type="date">
          </td>


      </tr>
      <tr>
          <td align="right" style="padding-left: 200px;">
              Status:
          </td>
          <td>
              <select id="" >
                  <option value="free" selected width="100%">Free</option>
                  <option value="in_used">In Used</option>
              </select>
          </td>
          <td align="right">
              Operation Ins:
          </td>
          <td>
              <select id="" >
                  <option value="SIN-Single" selected width="100%">SIN-Single</option>
                  <option value="SIN-Join">SIN-Join</option>
              </select> 
          </td>
      </tr>
      <tr>
          <td></td>
          <td colspan="2">
            <tr>
              <td style="padding-left: 100px;">
                  Remarks:
               </td>
               <td  >
                   <input type="text" style="width: 450px; height: 35px;">
               </td >
            </tr>  
          </td>
          <td></td>
      </tr>
      <tr>
      </tr>
  </table>
 
</div> -->

<!-- <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
<h1 style="color: aliceblue;">
    Locker Service
</h1>
<div class="d-flex">
  <button (click)="clickAddEmployee()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Locker Service 
    </button>
</div>
    </div>
</nav> -->


    
<div width="100%" align="center">
    <button type="button"  class="btn btn-secondary"  onClick="window.location.reload();">Refresh</button> &nbsp;
    <button type="button" id = "cancel" class="btn btn-danger"  data-bs-dismiss="modal" (click)=" this.formValue.reset();  this.showAdd = true;
    this.showUpdate = false;">Clear</button> &nbsp;
    <button type="button" *ngIf = "showAdd" (click) = "postLockerServiceDetails()" class="btn btn-success" >Execuate</button>
    <button type="button" *ngIf = "showUpdate" (click) = "updateLockerServiceDetails()" class="btn btn-primary" style="padding-left: 3px;">Update</button>   
    </div>

<table width="100%">
  <tr>
    <td>
    
<div class="modal-body"  this.showAdd = true;>
  <form [formGroup]= "formValue" style="position: static;">
      <table width="100%" align="center">
          <tr  align="center" >
              <td >
                <div >
                    <input  type="int" formControlName="relid"  (keydown.enter)="onKeyPress($event)" placeholder="Update Or View Details By Searching ID">
                    <label  >Locker ID:</label>
                    <input type="text" formControlName="lckrid"  placeholder="Enter Locker ID"  >
                    <label  >Drawer ID:</label>
                    <input type="text" formControlName="drwrid"  placeholder="Enter Drawer ID"  >
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                  </div>
                  <div >
                      <label  >A/C Number:	</label>
                      <input type="text" formControlName="actnum" placeholder="Account Type">
                      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div >
                        <label  >A/C Title:</label>
                        <input type="text" formControlName="brancd" placeholder="Account Title" >
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                      </div>
                   


                
   
                
                      <div >
                        <label  >Deposit Product:</label>
                        <input type="text"  formControlName="oprbrancd" placeholder="Enter Deposit Product" >
                      </div>
                      <div >
                        <label  >For Sale Value:</label>
                        <input type="text" formControlName="appflg"placeholder="Enter Sale Value" >
                      </div>
                      <div >
                          <label  >Market value:</label>
                          <input type="text" formControlName="appstamp" placeholder="Account Type">
                          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div >
                          <label  >Security Required:	 </label>
                          
                          <select class="form-control" formControlName="apptimstamp" data-toggle="tooltip"   
                          data-placement="right" title="Select Student Branch">  
                      <option value="Yes" selected>Yes</option>  
                      <option value="No"> No</option>  
                    </select>  
                  

<!--                     
                        <input type="radio" formControlName="apptimstamp"  name="sry" id="sry" value="Yes"  style="width: 15px; background:transparent; display:inline;" >   
                          <label for="sry" style="display: inline;">Yes &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</label>
                        <input type="radio" formControlName="apptimstamp" name="srn" id= "srn" value="No"  style="width: 15px; background:transparent; display:inline; ">
                        <label for="srn" style=" display: inline " >No</label>
                        -->

                    <!-- <label for="saff" style="display: inline;">On Fixed &nbsp;&nbsp;</label>
                    <input type="radio"  style="display: inline;" formControlName="apptimstamp" name="saff"  value="Yes"  selected style="width: 15px; background:transparent; display: inline;" >
                
               
                <label for="sapp" style="display: inline;" > &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;No &nbsp;&nbsp;</label>
                    <input type="radio" style="display: inline;" formControlName="apptimstamp" name="sapp" value="No" style="width: 15px; background:transparent;display: inline;">
                  
       -->
                          <!-- <input type="text" formControlName="apptimstamp" placeholder="Security Required"> -->
                        </div>
                        <div >
                            <label   >Security Amount:	
                          </label>
                          <div>
                            <label for="saf" style="display: inline;">On Fixed &nbsp;&nbsp;</label>
                                <input type="radio"  style="display: inline;" formControlName="oprstamp" id="saf"  value="onFixed"  selected style="width: 15px; background:transparent; display: inline;" >
                            
                           
                            <label for="sap" style="display: inline;" > &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Percentage &nbsp;&nbsp;</label>
                                <input type="radio" style="display: inline;" formControlName="oprstamp" id="sap" value="onPercentage" style="width: 15px; background:transparent;display: inline;">
                              
                                
                            </div>
                          <!-- <select class="form-control" formControlName="oprstamp" data-toggle="tooltip"   
                          data-placement="right" title="Select Student Branch">  
                      <option value="onFixed" selected>On Fixed</option>  
                      <option value="onPercentage">Percentage</option>  
                    </select>   -->
                            <!-- <input type="text" formControlName="oprstamp" placeholder="Security Amount" > -->
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                          </div>
                          <div >
                            <label  >Caution Money:</label>
                            <input type="text" formControlName="paystat" placeholder="Caution Money" >
                          </div>
                          <div >
                            <label  >Tenure (In Year):</label>
                            <input type="text" formControlName="oprtimstamp" placeholder="Tenure (In Year)" >
                          </div>
                          <div >
                              <label  >Operation Ins:</label>
                              <select class="form-control" formControlName="reldate" data-toggle="tooltip"   
                              data-placement="right" title="Select Student Branch">  
                          <option value="single" selected>SIN-Single</option>  
                          <option value="joint">JNT-Joint A/C</option>  
                        </select>  
                              <!-- <input type="text" formControlName="reldate" placeholder="Current Status" > -->
                            </div>
                            <div >
                              <label  >Remarks:</label>
                              <input type="text" formControlName="remarks" placeholder="Feed back" >
                            </div>
                
              </td>

              <td>
                <!-- <span style="   font-family: poppins;
                font: size 3px;
                color: #121b27;  font-size:15px;  font-family: poppins;"><br>
                    Corporate Branch</span>
     -->
                    <div >
                        <label  >Custoemr Type:</label>
  
                        <select class="form-control" formControlName="actype" data-toggle="tooltip"   
                        data-placement="right" title="Select Student Branch">  
                    <option value="ACT001" selected>Account Type 01</option>  
                    <option value="ACT002">Account Type 02</option>  
                    <option value="ACT003">Account Type 03</option>  
                    <option value="ACT004">Account Type 04</option>  
                    <option value="ACT005">Account Type 05</option>  
                    <option value="ACT006">Account Type 06</option>  
                   
                  </select>  
                        <!-- <input type="text" formControlName="actype" placeholder="Account Type"> -->
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                      </div>
                               
                                            <div >
                                              <label  >Custoemr Name:</label>
                                              <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                            </div>
                                           
                                   
                                              <div >
                                                <label for="exampleInputPassword1" class="form-label">Customer ID:</label>
                                                <input type="text" formControlName="cuscod" placeholder="Account Number"> 
                                              </div>


                                              <div >
                                                <label  >Address1:</label>
                                                <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                              </div>
                                              <div >
                                                <label  >Address 2:</label>
                                                <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                              </div>
                                              <div >
                                                <label  >House:</label>
                                                <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                              </div>
                                              <div >
                                                <label  >City Name:</label>
                                                <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                              </div>
                                              <div >
                                                <label  >Phone No:</label>
                                                <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                              </div>
                                              <div >
                                                <label  >Occupation:</label>
                                                <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                              </div>

                                              <div  style="display: inline;" >
                                                <label> Email:</label>
                                                <input type="text" formControlName="update_BY" value="Radwan Romy" placeholder="Updated By" >
                                              </div>

       




                                              <div >
                                                <label> Date of Birth & Age:</label>
                                                <label style="display: inline;"> Date of Birth:</label>
                                                <input  type="date" style="display: inline;" formControlName="update_BY"  placeholder="Updated By" style="width: 140px; display: inline;" >
                                             
                                                <label style="display: inline;"> Age:</label>
                                                <input type="text"    formControlName="update_BY"  placeholder="Age" style="width: 60px; display: inline;" >
                                              </div>

                                              <div >
                                                <label  >Allocation Date:</label>
                                                <input id="currentDate" type="date" formControlName="update_DATE" placeholder="Update Time" >
                                              </div>

                                              <div >
                                                <label  >Expire Date:</label>
                                                <input id="currentDate" type="date" formControlName="update_BY" placeholder="Update Time" >
                                              </div>
                              </td>
          


         
          </tr>
      </table>
   
      
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
</div>


</td>




</tr>
<tr >
  
        
</tr>
</table>




<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col"> ID</th>
            <th scope="col">Locker ID</th>
            <th scope="col">Drawer ID</th>
            <th scope="col">Deposit Product</th>
            <th scope="col">Customer ID</th>
            <th scope="col">A/C Title</th>
            <th scope="col">A/C Type</th>
            <th scope="col">A/C Number</th>
            <th scope="col">Remarks</th>
            <th scope="col">Action</th>

            
        </tr>
    </thead>
    <tbody><tr *ngFor="let row of lockerServiceData">
        <td>{{row.relid}}</td>
        <td>{{row.lckrid}}</td>
        <td>{{row.drwrid}}</td>
        <td>{{row.oprbrancd}}</td>
        <td>{{row.cuscod}}</td>
        <td>{{row.brancd}}</td> 
        <td>{{row.actype}}</td>
        <td>{{row.actnum}}</td>
        <td>{{row.remarks}}</td>
        <td>
            <button (click)="getOnForm(row)" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit
            </button>
            <button type="button"  (click)="deleteLockerServiceData(row)" class="btn btn-danger mx-3"> Delete</button>
            
        </td>
    </tr>

    </tbody>
</table>

<br>
<br>
<Br>
    
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Caution<br>Money</th>
            <th scope="col">Security Amount</th>
            <th scope="col">Tenure (In Year)</th>
            <th scope="col">Expire Date</th>
            <th scope="col">Allocation Date</th>
            <th scope="col">For Sale Value</th>
            <th scope="col">Market value</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

            
        </tr>
    </thead>
    <tbody><tr *ngFor="let row of lockerServiceData">
        <td>{{row.relid}}</td>
        <td>{{row.paystat}}</td>
        <td>{{row.oprstamp}}</td>
        <td>{{row.oprtimstamp}}</td> 
        <td>{{row.update_BY}}</td>
        <td>{{row.update_DATE}}</td>
        <td>{{row.appflg}}</td>
        <td>{{row.appstamp}}</td>
        <td>{{row.apptimstamp}}</td>
        <td>
            <button (click)="getOnForm(row)" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit
            </button>
            <button type="button"  (click)="deleteLockerServiceData(row)" class="btn btn-danger mx-3"> Delete</button>
            
        </td>
    </tr>

    </tbody>
</table>
<!-- 
<div class="modal-body">
  <form [formGroup]= "formValue">
    <div class="mb-3">
      <label   >User ID</label>
      <input type="int" formControlName="userid"  (keydown.enter)="onKeyPress($event)"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     
    </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">F A</label>
        <input type="text" formControlName="fname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">L N</label>
        <input type="text" formControlName="lname" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E ID</label>
          <input type="email" formControlName="eid" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">M No</label>
          <input type="number" formControlName="mno" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">SAL</label>
          <input type="number" formControlName="sal" class="form-control" id="exampleInputPassword1">
        </div>
      
    
    </form>
</div>
<div class="modal-footer">
<button type="button" id = "cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="button" *ngIf = "showAdd" (click) = "postLockerServiceDetails()" class="btn btn-primary">Add</button>
<button type="button" *ngIf = "showUpdate" (click) = "updateLockerServiceDetails()" class="btn btn-primary">Update</button>   
</div> -->


  <div>

  </div>
  
 