<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
<h1 style="color: aliceblue;">
    Locker Service
</h1>
<div class="d-flex">
    <button class="btn btn-success">
        Add Locker Service 
    </button>
</div>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th scope="col">E ID</th>
            <th scope="col">F N</th>
            <th scope="col">L N</th>
            <th scope="col">E ID</th>
            <th scope="col">M NO</th>
            <th scope="col">S</th>
            <th scope="col">A</th>

            
        </tr>
    </thead>
    <tbody><tr>
        <td>1</td>
        <td>s</td>
        <td>y</td>
        <td>yy</td>
        <td>12313</td>
        <td>1</td>
        <td>
            <button class="btn btn-info">
                Edit
            </button>
            <button class="btn btn-danger mx-3">
                Delete
            </button>
        </td>
    </tr>

    </tbody>
</table>