p {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-3 {
    margin-top: 0;
}
@import '../../node_modules/@syncfusion/ej2/material.css';

.ngx-pagination{
    width : 250px;
}
thead{
    background-color: rgba(142, 171, 185, 0.494); 
    font-weight: bolder; 
   
}
tbody{
    background-color: rgba(255, 255, 255, 0.789);
    
}


/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
  


/** END: Non Openmrs CSS **/
div.omrs-input-group {
  /* margin-bottom: 2.5rem; */
  position: relative;
  width:65%;
  background-color: transparent;
  border-bottom: #1068b2 1.5px solid;
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	/* border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast); */
	width: 100%;
	height:2.8rem;
	font-size:12px;
	padding-left: 0.875rem;
	line-height: 117.6%;
	/* padding-top: 0.825rem;
	padding-bottom: 0.5rem; */
}

.omrs-input-underlined > select,
.omrs-input-filled > select {
	border: none;
	/* border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast); */
	width: 100%;
	height:2.8rem;
	font-size:12px;
	padding-left: 0.875rem;
	line-height: 117.6%;
	/* padding-top: 0.825rem;
	padding-bottom: 0.5rem; */
}

.omrs-input-underlined > fieldset,
.omrs-input-filled > fieldset {
	border: none;
	/* border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast); */
	width: 100%;
	height:2.8rem;
	font-size:12px;
	padding-left: 0.875rem;
	line-height: 117.6%;
	/* padding-top: 0.825rem;
	padding-bottom: 0.5rem; */
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}
.omrs-input-underlined >fieldset:focus + .omrs-input-label,
.omrs-input-underlined >fieldset:valid + .omrs-input-label,
.omrs-input-filled > fieldset:focus + .omrs-input-label,
.omrs-input-filled > fieldset:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	/* margin-bottom: 32px; */
}

.omrs-input-underlined >select:focus + .omrs-input-label,
.omrs-input-underlined > select:valid + .omrs-input-label,
.omrs-input-filled > select:focus + .omrs-input-label,
.omrs-input-filled > select:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	/* margin-bottom: 32px; */
}


.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	/* margin-bottom: 32px; */
}

span.omrs-input-label{
    font-size:15px;
    color: var(--omrs-color-ink-medium-contrast);
}
.hr{
    border-top: 1px solid var(--omrs-color-ink-medium-contrast);
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem;       */

}