
<app-locker-service-dashboard > </app-locker-service-dashboard>
<lib-ng-toast></lib-ng-toast>
<div  class="fixed-footer" align="center">
    <span>&copy;Developed & Maintained by:
        <details style="display: inline;">
            <summary style="display: inline;">
                
         <!-- <a href="https://www.erainfotechbd.com/" >  -->
               <img src="../../assets/download.png" alt="" height="50px" >
         <!-- </a>  -->
        </summary>
         <p style="display: inline;">
            <a href="http://job.erainfotechbd.com/about"> About </a>
         </p> &nbsp;
         <p style="display: inline;">
            <a href="https://www.erainfotechbd.com/" >  Home Page </a>
        </p> &nbsp;
        <p style="display: inline;" >
            <a href="http://job.erainfotechbd.com:8888/hr/f?p=100:1:13260228459293:"> Career</a>
        </p> &nbsp;
        <p style="display: inline;">
            <a href="http://job.erainfotechbd.com/location">Address</a>
        </p>
        </details> </span>

</div>

